mail.username=
mail.appPassword=
mail.fromName=PIDEV Java
password.reset.baseUrl=http://127.0.0.1:8765/reset-password
password.reset.validityMinutes=30
gemini.apiKey=
gemini.endpoint=https://generativelanguage.googleapis.com/v1beta/models
gemini.model=gemini-2.5-flash
